*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    height: 75px;
    background: #fff ; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
    z-index: 1;  
   
}
.logo{
    width: 25%;
    height: 100%;
    display: flex;
    cursor: pointer;
}
.logo h2{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 40px;
    padding-top: 3px;
    margin-left: 60px;
}
.icons{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}
.icons i{
    color: #000000;
    font-size: 20px;
    padding-top: 3px;
    transition: 0.5s ease;

}
.icons i:hover{
    color: #D9D9D9;
}

.nav-links{
    width: 100%;height: 45px;background-color: #fff;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
.links{
    width: 60%;height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.nav-links a{
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-left: 60px;
    transition: 0.5s ease;
}
.links a:hover{
    color: #D9D9D9;
    transform: translateX(20px);
}
.search{
    width: 30%;height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.search a{
    margin-right: 20px;
}
.search a:hover{
    color: #D9D9D9;

}
.menu i{
    color: #000000;
}
.menu{
    display: none;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown .dropbtn{
  background-color: #fff;
  color: #000000;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-family: inherit;
}
.dropdown .dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1
}
.dropdown-content a{
    color: #000000;
    padding: 16px;
    text-decoration: none;
    font-family: inherit;
    display: block;
}
.dropdown-content a:hover {
  color: #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* navbaar end */
.cat-food{
    width: 100%;
    height: 30px;
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.cat-food p{
    text-transform: uppercase;
    font-family: inherit;
    color: #000000;
    padding-top: 12px;
    font-size: xx-small;
    font-weight: bold;
}
.hero{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 54px;
    max-width: 680px;
    text-align: center;
    width: 90%;
    padding: 15px 0px 6px 0px;
}
.hero h2{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    margin: 20px auto 10px;
    font-family: inherit;
    font-weight: 300;
    max-width: 500px;
    width: 86%;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    text-align: center;
}
.hero .dividerline{
    display: block;
    border: none;
    width: 56px;
    height: 2px;
    margin: 0 auto;
    color: gray;
    overflow: hidden;

}
.hero-img{
    width: 70%;
    height: 80vh;
    object-fit: cover;
    max-width: 1025px;
    margin: 15px 0px 0px 0px;
    transition: 0.5s ease;
    position: relative;
}
.hero-img img{
    width: 100%;height: 100%;
    object-fit: cover;
}
.hero-img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}
.hero-img .pin-wrapper{
    width: 50px;height: 50px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.pin-wrapper .pin-logo{
    width: 50px;height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.pin-logo a{
    color: rgba(230, 0, 35, 1.00);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.pin-logo:hover{
    transform: scale(1.2);
}
/* hero end */
.categories{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.c-head{
    width: 30%;
    height: 25%;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px 0px 0px;
}
.c-head h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: #000000;
    text-transform: uppercase;


}
.c-wisper{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 35px;
}
.c-box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 1px 9px 10px rgb(138, 137, 137);

}
.c-box:hover{
    transform: translateY(-20px);
}
.c-box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.c-box h5{
   font-family: 'Times New Roman', Times, serif;
   color: #000000;
   font-style: oblique;
   word-spacing: 3px;
   font-weight: 200;
   text-align: center;
}

/* caregories end */
.h-about{
    width: 100%;height: 70vh;
    margin: 35px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h-about p{
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1.6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 400;
    max-width: 680px;
    width: 86%;
    text-transform: none;
    color: #000000;
    font-style: normal;
    text-align: center;
    font-style: oblique;
}
.h-about .qoute{
    font-weight: 500;
    transition: 0.5s ease;
}
.h-about .qoute:hover{
    color: #D9D9D9;
}
.h-about a{
    text-decoration: underline;
    color: #000000;
}
/* home about done */
.card-heading{
    width: 100%;height: 8vh;
    margin-top: 20px;
    margin-bottom:5px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.card-heading h4{
    line-height: 25px;
    letter-spacing: 1.6px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    text-align: start;
    text-transform: uppercase;
    margin-left: 60px;
}
.card-heading p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-family: inherit;
    font-weight: 300;
    color: #000000;
    font-style: normal;
    text-align: left;
    margin-left: 60px;
}
/* card heading */
.parentofcards{
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    

}   
.card{
    width: 50%;height: max-content;
    padding: 20px;
    border: none;
}
.card img{
    width: 100%;height: 30%;
    object-fit: cover;
    overflow: hidden;
}
.card h3{
    line-height: 25px;
    letter-spacing: 1.6px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 10px
}
.card p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-family: inherit;
    font-weight: 300;
    text-transform: none;
    color: #000000;
    font-style: normal;
    text-align: start;
    margin-right: 10px;
    margin-left: 10px;
    font-style: oblique;
}
.card a{
    text-decoration: none;
}
.card button{
    width: 200px;height: 60px;
    background-color: #fff;
    color: #000000;
    border:1px solid #000000;
    text-transform: capitalize;
    box-shadow: -6px 6px 0 0 #000000;
    margin-left: 10px;
    transition: 0.5s ease;

}
.card button:hover{
    box-shadow: -6px 6px 0 0 #FC8080;
}                                      
/* card end */
.homebtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homebtn button{
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 2px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    text-transform: capitalize;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.5s ease;
    margin-bottom: 20px;
}
.homebtn button:hover{
    background-color: #FC8080;
    border: none;
    color: #fff;
}
/* crad btn */
.foot-line{
    background: #FC8080;
    width: 100%;
    height: 5px;
}
.footer{
    width: 100%;height: max-content;background-color: #000000;
    padding: 25px 25px 0 25px;
    display: flex;
}
.footer a{
    text-decoration: none;
}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer ul li{
    list-style-type: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease;
}
.footer ul li:hover{
    color: #D9D9D9;

}
.footer h5{
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
}
.child1{
    width: 25%;height: 100%;
    padding: 25px;
}
.child1 ul+a{
    font-size: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #D9D9D9;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.child1 .copyright{
    width: 80px;height: 66px;
    font-size: 8px;
    position: relative;
    margin: 15px 0;
    color: #fff;

}
.child2{
    width: 25%;height: 100%;
    padding: 25px;
}
.child2 .foot-btn{
    margin-top: 10px;
}
.child2 .foot-btn button{
    width: 200px;
    padding: 6px 12px;
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    transition: 0.5s ease;
}
.footbtn-2{
    width: 250px;
}
.child2 .foot-btn button:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
    transform: translateY(-10px);
}
.child3{
    width: 50%;height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child3 h2{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 50px;
    padding-top: 3px;
    margin-left: 60px; 
    text-align: center;
}
.child3 p{
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: inherit;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1.6px;
    margin-left: 60px;
    transition: 0.5s ease;
    margin-bottom: 60px;
}
.cihld3 p:hover{
    color: #D9D9D9;
}
.child3 input{
    padding: 6px 12px;
    margin-left: 60px;
    margin-bottom: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    width: 55%;
}
.child3 input:focus{
    outline: none;
}
.foot-icons{
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.child3 .foot-icons i{
    text-align: end;
    font-size: large;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;

}
.child3 .foot-icons i:hover{
    color: #FC8080;
    transform: scale(1.2);
}
/* footer done */
.gototop {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.gototop a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #FC8080;
}
/* home done */
.back-contact{
    width: 100%;height: max-content;
    background-image: url(contact-bg.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.parentofcontact{
    width: 100%;height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;

}
.contact-content{
    width: 60%;height: 70%;background-color: #d9d9d96c;
    padding: 25px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-content h1{
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: oblique;
    text-transform: uppercase;
    color: #000000;

}
.contact-content p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-family: inherit;
    font-weight: 300;
    text-transform: capitalize;
    color: #000000;
    font-style: normal;
    font-style: oblique;
    margin-bottom: 20px;
}
.contact-content input{
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    margin-bottom: 50px;
    transition: 0.5s ease;
}
.contact-content input:focus{
    border: none;
    outline: none;
}
.contact-content .sub-btn{
    text-transform: uppercase;
    background-color: #000000;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 2.5px;
    cursor: pointer;
    border: none;
    border: 1px solid #000000;
    transition: 0.5s ease;
}
.contact-content .sub-btn:hover{
    background-color: #FC8080;
    border: none;
}
.contact-content h3{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: oblique;
    text-transform: uppercase;
    color: #000000;
}
/* contact page */
.parentofabout{
    width: 100%;
    padding: 25px;
}
.about-img{
    width: 100%;height: 60vh;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.432)),url(about-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.about-img h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    word-spacing: 3px;
}
.about-content{
    width: 100%;height: max-content;background-color: #d9d9d93a;
    padding: 25px;
    display: flex;
   align-items: center;
   flex-direction: column;
}
.about-content h3{
    color: #000000;
    font-weight: 500;
    font-style: oblique;
    font-family: inherit;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    transition: 0.5s ease;
}
.about-content h3:hover{
    color: #FC8080;
}
.about-content p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
    letter-spacing: 1.6px;
    word-spacing: 3px;
    color: #000000;
    width: 50%;
    margin-bottom: 25px;
}
/* about done */
#imgofcategories{
    background-image: url(catogories/categories-bg.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}
#imgofcategories h1{
    color: #fff;
}
/* categories page done */
.back-subscribe{
    width: 100%;height: 100vh;
    background-image: url(subscribe-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.parentofsubscribe{
    width: 40%;height: 90%;background-color: #ffffff5b;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;

}
.parentofsubscribe h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.6px;
    word-spacing: 3px;

}
.parentofsubscribe .sub-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub-input input{
    width: 50%;
    padding: 9px 18px;
    background-color: #fff;
    color: #000000;
    border: none;
    border-radius: 5px;
    transition: 0.5s ease;
    text-align: center;
    margin-bottom: 15px;
}
.sub-input input:hover{
    background-color: #FC8080;
    color: #000000;
    border: 1px solid #fff;
}
.sub-input input:focus{
    text-decoration: none;
    border: none;
    outline: none;
}
.sub-input .sub-btn{
    text-transform: uppercase;
    background-color: #000000;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 2.5px;
    cursor: pointer;
    border: none;
    border: 1px solid #000000;
}
.sub-input p{
    color: #000000;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 9px;
}
.sub-input p a{
    text-decoration: none;
    text-transform: capitalize;
    text-decoration: underline;
    color: #000000;
    word-spacing: 2px;
}
/* subscribe done */
#imgofbestpurchase{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.315)),url(bp-images/bpHero.jpg);
}
#imgofbestpurchase h1{
    color: #fff;

}
.parentofbpcards{
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; 
}
.bp-card{
    width: 300px;height: max-content;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.5s ease;
}
.bp-card:hover{
    transform: translateY(-8px);
}
.bp-card img{
    width: 100%;height: 300px;
    border-radius: 12px;
}
.bp-card h3{
    font-size: medium;
    text-align: center;
    text-decoration: none;
}
.bp-card ul li{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: #000000;
    text-transform: capitalize;
    letter-spacing: 1.6px;
    word-spacing: 1px;
    list-style-type: none;
    margin: 0;
    text-align: start;
}
.bp-card .bp-para{
    font-size: 12px; margin: 0;
    text-align: start;
    letter-spacing: 1.6px;
    word-spacing: 1px;
    font-style: oblique;
    width: 100%;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.bp-card button{
    border: 1px solid #000000;
    padding: 8px 16px; 
    background-color: #fff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;
}
.bp-card button:hover{
    background-color: #FC8080;
    color: #fff;
    border: none;
}
/* best purchase done */
.dp-parent{
    width: 100%;height: max-content;
    display: flex;
    margin-bottom: 30px;
}
.dp-parent .imgside{
    width: 50%;height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.imgside .dp-img{
    width: 90%;height: 80%;
    border-radius: 10px;
    margin-top: 15px;
}
.dp-img img{
    width: 100%;height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}
.imgside .img-bottom-text{
    width: 90%;height: 40%;
    padding: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.img-bottom-text table{
    border: none;
}
.img-bottom-text thead tr th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    padding: 12px 16px;
    font-size: 19px;
    border: 1px solid #000000;
   

}
.img-bottom-text tbody tr th{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
    padding: 12px 16px ;
    text-transform: capitalize;
    font-size: 18px;
    border: 1px solid #000000;
  
}


.dp-parent .contentside{
    width: 50%;height: 100%;
    /* background-color: #e09a9a; */
    padding-right: 20px;
}
.contentside h1{
    margin-top: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
}
.contentside p{
    text-transform: capitalize;
    font-family: inherit;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    word-spacing: 2px;
    color: #000000;
}
.contentside h3{
    text-transform: capitalize;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.contentside ul{
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.contentside ul li{
    text-transform: lowercase;
    color: #000000;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    list-style-type: none;

}
.contentside button{
    border: 1px solid #000000;
    background-color: #000000;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    word-spacing: 2px;
    letter-spacing: 1.6px;
    transition: 0.5s ease;

}
.contentside button:hover{
    border: none;
    background-color: #FC8080;
}
/* detail page done */
#c1-background{
    background-image: url(catogories/c1-bg.jpg);
}
#c2-background{
    background-image: url(catogories/c2-bg.jpg);
}
#c3-background{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.171)),url(catogories/c3-bg.jpg);
}
#c3-background h1{
    color: #fff;
}
#c4-background{
    background-image: url(catogories/c4-bg.jpg);
}
#c5-background{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.24)),url(catogories/c5-bg.jpg);
}
#c5-background h1{
    color: #fff;
}
#c6-background{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.247)),url(catogories/c6-bg.jpg);
}
#c6-background h1{
    color: #fff;
}
/* seprate categories pages */
.gboxesparent{
    width: 100%;height: max-content;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background-color: #D9D9D9;
}
.gboxesparent .g-imgbox{
    border-radius: 15px;
    Width: 220px;

}
.g-imgbox img{
    border-radius: 15px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 40vh;
}

.reviewparent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.reviewparent h1{
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: #000000;
    text-decoration: underline;
    transition: 0.5s ease;
}
.reviewparent h1:hover{
    color: #FC8080;
}
.reviews-box{
    width: 60vh;height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
    animation: review 10s 1s infinite;
    transition: 0.10s ease;
}

@keyframes review {
    0%{
        background-image: url(gallery-images/r1.jpg);
        background-position: center;
        background-size: cover;
    }
    25%{
        background-image: url(gallery-images/r2.jpg);
        background-position: center;
        background-size: cover;
    }
    50%{
        background-image: url(gallery-images/r3.jpg);
        background-position: center;
        background-size: cover;
    }
    75%{
        background-image: url(gallery-images/r4.jpg);
        background-position: center;
        background-size: cover;
    }
    100%{
        background-image: url(gallery-images/r5.jpg);
        background-position: center;
        background-size: cover;
    }
    0%{
        background-image: url(gallery-images/r6.jpg);
        background-position: center;
        background-size: cover;
    }

    
}

