*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: 60px;
    background-color: black;
    position: sticky;
    top: 0px;
          
}
.hero{
    width: 100%;
    height: 100vh;
    background: indigo;
}