*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #4CAF50;
    --nav-hover-color: blue;
    --btn-color: yellow;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --heading-style: italic;
    --heading-color: green;
    --para-font:'Times New Roman', Times, serif;
    --para-font-size: 20px;
    --para-color: rgb(204, 27, 27);



}
.navbar{
    width: 100%;
    height: 80px;
    background: var(--main-color) ; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    z-index: 1;  
}
.logo{
    width: 30%;
    height: 95%;
    background-color: #fff;
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.links{
    width: 30%;
    height: 100%;background-color: #fff;
}

.hero{
    width: 100%;
    height: 90vh;
    background: url(quick_snacks_banner_1920x1080.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    margin-bottom: 5px;
}
/* hero end */
.categories{
    width: 100%;
    height: 40vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.c-head{
    width: 25%;
    height: 25%;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-head h2{
    font-family: var(--heading-font);
    font-style: var(--heading-style);


}
.c-wisper{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.c-box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid wheat;
    background-color: #fff;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 2px 7px 10px rgb(138, 137, 137);

}
.c-box:hover{
    transform: translateY(-20px);
}
.c-box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.c-box p{
   font-family: var(--para-font);
   font-size: var(--para-font-size);
   color: var(--para-color);
   word-spacing: 3px;
   font-weight: 400;
   
}
/* caregories end */

