*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color: #fff;
    --nav-hover-color: #D9D9D9;
    --btn-hover-color: #FC8080;;
    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --heading-style: italic;
    --heading-color: green;
    --para-font:'Times New Roman', Times, serif;
    --para-font-size: 20px;
    --para-color: rgb(204, 27, 27);
    --border-color:#D9D9D9;



}
.navbar{
    width: 100%;
    height: 75px;
    background: var(--main-color) ; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    z-index: 1;  
}
.logo{
    width: 15%;
    height: 100%;
    display: flex;
    cursor: pointer;
}
.logo h2{
    color: #000000;
    font-family: var(--heading-font);
    font-weight: bolder;
    font-style: oblique;
    font-size: 45px;
    padding-top: 3px;
    margin-left: 60px;
}
.icons{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}
.icons i{
    color: #000000;
    font-size: 20px;
    padding-top: 3px;
    transition: 0.5s ease;

}
.icons i:hover{
    color: var(--nav-hover-color);
}

.nav-links{
    width: 100%;height: 45px;background-color: var(--main-color);
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.links{
    width: 60%;height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.nav-links a{
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    margin-left: 60px;
    transition: 0.5s ease;
}
.links a:hover{
    color: #D9D9D9;
    transform: translateX(20px);
}
.search{
    width: 30%;height: 100%;
    /* background-color: #c97777; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.search a{
    margin-right: 20px;
}
.search a:hover{
    color: #D9D9D9;

}
.search span{
    color: #000000;
    font-size: 27px;
    font-weight: 300;
}
.search img{
    height: 20px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: contain;
}
/* navbaar end */
.cat-food{
    width: 100%;
    height: 30px;
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.cat-food p{
    text-transform: uppercase;
    font-family: inherit;
    color: #000000;
    padding-top: 12px;
    font-size: xx-small;
    font-weight: bold;
}
.hero{
    width: 100%;
    height: max-content;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 54px;
    max-width: 680px;
    text-align: center;
    width: 90%;
    padding: 15px 0px 6px 0px;
}
.hero h2{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    margin: 20px auto 10px;
    font-family: inherit;
    font-weight: 300;
    max-width: 500px;
    width: 86%;
    text-transform: uppercase;
    color: #000000;
    font-style: normal;
    text-align: center;
}
.hero .dividerline{
    display: block;
    border: none;
    width: 56px;
    height: 2px;
    margin: 0 auto;
    color: gray;
    overflow: hidden;

}
.hero-img{
    width: 70%;
    height: 80vh;
    background-color: #aa6666;
    object-fit: cover;
    max-width: 1025px;
    margin: 15px 0px 0px 0px;
    transition: 0.5s ease;
    position: relative;
}
.hero-img img{
    width: 100%;height: 100%;
    object-fit: cover;
}
.hero-img:hover{
    transform: scale(1.1);
    cursor: zoom-in;
}
.hero-img .pin-wrapper{
    width: 50px;height: 50px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.pin-wrapper .pin-logo{
    width: 50px;height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.pin-logo a{
    color: rgba(230, 0, 35, 1.00);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.pin-logo:hover{
    transform: scale(1.2);
}
/* hero end */
.categories{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.c-head{
    width: 25%;
    height: 25%;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px 0px 0px;
}
.c-head h2{
    font-family: var(--heading-font);
    font-style: var(--heading-style);


}
.c-wisper{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.c-box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 1px 9px 10px rgb(138, 137, 137);

}
.c-box:hover{
    transform: translateY(-20px);
}
.c-box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.c-box h5{
   font-family: 'Times New Roman', Times, serif;
   color: #000000;
   font-style: oblique;
   word-spacing: 3px;
   font-weight: 200;
   text-align: center;
}

/* caregories end */
.h-about{
    width: 100%;height: 70vh;
    margin: 35px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h-about p{
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1.6px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 400;
    max-width: 680px;
    width: 86%;
    text-transform: none;
    color: #000000;
    font-style: normal;
    text-align: center;
    font-style: oblique;
}
.h-about .qoute{
    font-weight: 500;
    transition: 0.5s ease;
}
.h-about .qoute:hover{
    color: #D9D9D9;
}
.h-about a{
    text-decoration: underline;
    color: #000000;
}
/* home about done */
.card-heading{
    width: 100%;height: 8vh;
    margin-top: 20px;
    margin-bottom:5px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.card-heading h4{
    line-height: 25px;
    letter-spacing: 1.6px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    text-align: start;
    text-transform: uppercase;
    margin-left: 60px;
}
.card-heading p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-family: inherit;
    font-weight: 300;
    color: #000000;
    font-style: normal;
    text-align: left;
    margin-left: 60px;
}
/* card heading */
.parentofcards{
    padding: 25px;
}
.parentofcards div{
    width: 100%;height: 60vh;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}
.card1{
    background-image:linear-gradient(to left,rgba(255, 255, 255, 0.925),#ffffff00),url(cards-images/card.png);
    margin-bottom: 20px;
}
.card-content{
    width: 100%;height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card-content h3{
    line-height: 25px;
    letter-spacing: 1.6px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #000000;
    font-style: normal;
    text-transform: uppercase;
    margin-right: 10px
}
.card-content p{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-family: inherit;
    font-weight: 300;
    text-transform: none;
    color: #000000;
    font-style: normal;
    text-align: start;
    margin-right: 10px;
    margin-left: 10px;

}
.card-content a{
    text-decoration: none;
}
.card-content button{
    width: 200px;height: 60px;
    background-color: #fff;
    color: #000000;
    border:1px solid #000000;
    text-transform: capitalize;
    box-shadow: -6px 6px 0 0 #000000;
    margin-right: 10px;
    transition: 0.5s ease;
   
}
.card-content button:hover{
    box-shadow: -6px 6px 0 0 #FC8080;
}
.card2{
    background-image: linear-gradient(to right,  #cbb6e3,rgba(255, 255, 255, 0)),url(cards-images/card2.png) ;
    margin-bottom: 20px;
}
.card2 .card-content{
    align-items: flex-start;
    margin-left: 10px;
}
.card2 .card-content button{
    box-shadow: 6px 6px 0 0 #000000 ;
}
.card2 .card-content button:hover{
    box-shadow: 6px 6px 0 0 #FC8080;
}                                                   
/* card end */
.foot-line{
    background: #FC8080;
    width: 100%;
    height: 5px;
}
.footer{
    width: 100%;height: 60vh;background-color: #000000;
    padding: 25px 25px 0 25px;
    display: flex;
}
.footer a{
    text-decoration: none;
}
.footer ul li{
    list-style-type: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 500;
    transition: 0.5s ease;
}
.footer ul li:hover{
    color: #D9D9D9;

}
.footer h5{
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 20px;
}
.child1{
    width: 25%;height: 100%;
    padding: 25px;
}
.child1 ul+a{
    font-size: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: #D9D9D9;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.child1 .copyright{
    width: 80px;height: 66px;
    font-size: 8px;
    position: relative;
    margin: 15px 0;
    color: #fff;

}
.child2{
    width: 25%;height: 100%;
    padding: 25px;
}
.child2 .foot-btn{
    margin-top: 10px;
}
.child2 .foot-btn button{
    width: 200px;
    padding: 6px 12px;
    background-color: #000000;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    transition: 0.5s ease;
}
.footbtn-2{
    width: 250px;
}
.child2 .foot-btn button:hover{
    background-color: #fff;
    color: #000000;
    border: 2px solid #000000;
    transform: translateY(-10px);
}
.child3{
    width: 50%;height: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child3 h2{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: oblique;
    font-size: 50px;
    padding-top: 3px;
    margin-left: 60px; 
    text-align: center;
}
.child3 p{
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: inherit;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1.6px;
    margin-left: 60px;
    transition: 0.5s ease;
    margin-bottom: 60px;
}
.cihld3 p:hover{
    color: #D9D9D9;
}
.child3 input{
    padding: 6px 12px;
    margin-left: 60px;
    margin-bottom: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    width: 55%;
}
.foot-icons{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-right: 60px;
}
.child3 .foot-icons i{
    text-align: end;
    font-size: large;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease;

}
.child3 .foot-icons i:hover{
    color: #FC8080;
    transform: scale(1.2);
}
/* footer done */
.gototop {
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.gototop a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #FC8080;
}
/* home done */
.back-contact{
    width: 100%;height: 100vh;background-color: #b35a5a;
    background-image: url(contact-bg.jpg);
    background-position: center;
    background-size: cover;
}